@import "base";
@import "theme/color";
@import "theme/fonts";

.section {
  padding: 9.375em 0;
  background-color: $primary;
  @include breakpoint(normal) {
    padding: 4.375em 0;
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1190px;

    h1 {
      @include breakpoint(normal) {
        font-size: 60px;
        line-height: 1.2;
        letter-spacing: -3px;
      }

      @include breakpoint(ipad) {
        font-size: 38px;
        line-height: 1.3;
        letter-spacing: -1px;
      }

      font-family: $karlaBold;
      font-size: 84px;
      font-weight: normal;
      line-height: 90px;
      letter-spacing: -4px;
      color: #fff;
      margin-bottom: 0;

      strong {
        font-weight: normal;
        color: $secondary;
      }
    }
    .bigTextBtnWrapper {
      margin-top: 70px;
      display: flex;
      justify-content: flex-end;

      a {
        display: inline-block;
        width: auto;
        border: none;
        border-radius: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        cursor: pointer;
        background: #ddd;
        color: #132662;
        padding: 0 31px;
        font-size: 15px;
        font-family: $karlaBold;
        text-transform: capitalize;
        line-height: 3.2;
        position: relative;
        min-width: 165px;
        background: $secondary;
        color: #fff;
        text-align: center;
      }
    }
  }
}
