@import "_base";
@import "theme/color";
@import "theme/fonts";

.slideMainButton {
  display: inline-block;
  width: auto;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  background: #ddd;
  color: $primary;
  padding: 0 31px;
  font-size: 15px;
  font-family: $karlaBold;
  text-transform: capitalize;
  line-height: 3.2;
  position: relative;
  min-width: 165px;
  background: #FFC001;
  color: #132662;
  text-align: center;
}
